.sombra_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001d5090;
    width: 100vw;
    min-height: 100vh;
    padding: 100px 0;
    overflow-x:unset
}

.sombra_modal .linha_titulo {
    display: flex;
    justify-content: space-between;
}

.sombra_modal .linha_titulo h1 {
    font-size: 30px;
}

.sombra_modal .perfil_info_perfilParceiro {
    max-width: 1000px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
    /* flex-wrap: wrap; */
}

.sombra_modal .linha_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sombra_modal .linha_form > div {
    flex: 1;

}

.sombra_modal .perfil_info_perfilParceiro>div img {
    width: 400px;
}

.sombra_modal form {
    width: 90%;
    max-width: 550px;
}

.sombra_modal form>div {
    margin: 25px 0;
}

.sombra_modal .linha_input {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.sombra_modal .linha_input>div {
    flex: 1;
    min-width: 250px;
}

.sombra_modal .item_input input {
    /* height: 30px; */
    border-radius: 8px;
    padding: 8px 0 8px 5px;
}

.sombra_modal .descricao {
    display: flex;
    flex-direction: column;
}

.sombra_modal .descricao textarea {
    height: 100px;
    width: 100%;
    border-radius: 8px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    resize: none;
}

.sombra_modal .submit_button_perfilParceiro_rejeitar {
    color: #DC2626;
    font-family: var(--vw);
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    padding: 5px 50px;
    border: 2px solid #DC2626;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.sombra_modal .submit_button_perfilParceiro_rejeitar:hover {
    background-color: #DC2626;
    color: var(--branco);
    transition: 0.3s;
}

.sombra_modal .submit_button_perfilParceiro_aprovar {
    color: #fff;
    font-family: var(--vw);
    font-size: 18px;
    font-weight: 400;
    padding: 5px 50px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #61D248;
    background: #61D248;
}

.sombra_modal .submit_button_perfilParceiro_aprovar:hover {
    background-color: var(--verde);
    color: var(--branco);
    transition: 0.3s;
}